canvas {
    border: 1px solid black;
    align-self:flex-start;
}
#main-content{
    display:flex;
    flex-direction: column-reverse;
}
body{
    display:grid;
    grid-template-columns: 300px 1fr;
    /* flex-te */
    justify-items: left;
    gap:1rem;
}

/* CONTROLS */
.controls{
    align-self: flex-start;
    /* : left; */
}
.label{
    text-align: right;
}